@(member : String,post : Post)
@for(com <- post.getComments){ 	
 	<li class="list-group-item col-md-offset-1">
		<div class="comment-row">
			<input type="hidden" id="comment-id" value="@com.getId"/>
			<div class="col-md-1">
				<img src="@routes.Assets.at("img/avatar.png")" class="img-circle img-responsive" alt="" />
			</div>
			<div>
				<div>
					By : 
					<a href="#" class="autor-login">
						<b>@com.getAutor.getLogin</b>
					</a>
				</div>
				<div class="comment-text">
					@com.getContent
				</div>
				<div class="action col-md-offset-1">
					<button type="button" class="btn btn-primary btn-xs cmt-like" title="Like">
						@if(Likes.isLikedComment(com, Member.getMember(session().get("Connected")))){
						<span class="glyphicon glyphicon-thumbs-down"></span>
						}else{
						<span class="glyphicon glyphicon-thumbs-up"></span>
						}
                    </button>
                    |
					<button type="button" class="btn btn-primary btn-xs">
						<span class="glyphicon">@com.getLikes.size Likes</span>
					</button>
					@if(com.getAutor.getLogin==member){
					| 
						<button type="button" class="btn btn-danger btn-xs cmt-delete" title="Delete">
							<span class="glyphicon glyphicon-trash"></span>
	                    </button>
                    }
					<span class="mic-info pull-right btn-xs">
						In: <a href="#">Montpellier</a> on : @com.getCommentDate.format("MMMM dd") at : @com.getCommentDate.format("hh:mm")
					</span>
				</div>
			</div>
		</div>
	</li>
}
@if(post.getComments.size>3){	
	<div class="col-md-offset-1">
		<a href="#" class="btn btn-sx btn-block" role="button">
			<span class="glyphicon glyphicon-refresh"></span> More
		</a>
	</div>
}	