<br><br><br><br><br>
<div class="offset4 span4">
	<address>
		<strong>Ramtane HIDJA</strong><br>
		<abbr title="Phone">P:</abbr> (33) 622-994-726<br>
		<a href="mailto:#">rhidja@@gmail.com</a>
	</address>
	<br>
	
	<address>
		<strong>Said RACHEDI</strong><br>
		<abbr title="Phone">P:</abbr> (33) 668-969-885<br>
		<a href="mailto:#">said.rachedi87@@gmail.com</a>
	</address>
	<br>
	
	<address>
		<strong>Takfarines SIDER</strong><br>
		<abbr title="Phone">P:</abbr> (33) 635-444-276<br>
		<a href="mailto:#">takfarines.sider@@gmail.com</a>
	</address>
	<br>		
</div>