<br><br><br>
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-2">
			<div class="panel panel-primary">
				<div class="panel-header">
					<h3 class="text-center"> Please SIGN IN </h3>
				</div>
				<div class="panel-body">
                    <form class="form form-signup" role="form">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            <input type="text" class="form-control"  id="ipt_login" placeholder="Login" required autofocus/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                            <input type="password" class="form-control" id="ipt_password" placeholder="Password" required/>
                        </div>
                    </div>                   
                </div>
                <a href="#" class="btn btn-sm btn-primary btn-block signin_frm" role="button"> SIGN IN </a> 
				</form>
            </div>
        </div>
    </div>
</div>
